@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h5>@welcomeText.ToString()</h5>






@code{
    string welcomeText = @"The purpose of this app is to make me practice my skills, 
    be comfortable with .NET 9, sharpen my clean structure skillset and 
    build something that can be useful to people that invest in or trade crypto. 
    Have fun, watch as I grow this app and perhaps make better financial decisions!";
}